@font-face {
    font-family: "Avenir";
    src: 
    url(../font/Avenir/Avenir-Black.woff) format("woff");
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
   .counter {
    
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 50vh;
    
  } 

   .wrapper {
    width: 180px;
    height: 56px;
    display: flex;
    align-items: center; 
    border: 1px solid #b24242;
    border-radius: 8px;
  } 
  
  #increment,
  #decrement,
  #count {
    width: 60px;
    height: 56px;
    border: none;
    background: none;
    font-size: 1em;
    font-weight: 900;
    color: #b24242;
    transition: all 200ms ease-in-out;
  }
  
  #increment {
    background: #b24242;
    color: #fff;
    border-radius: 0 8px 8px 0;
    border-left: 1px solid #b24242;
  }
  
  #decrement {
    border-radius: 8px 0 0 8px;
    margin-left: -1px;
    border-right: 1px solid #b24242;
  }
  
  #count {
    font-family: 'Avenir';
    font-size: 21px;
    border-top: 1px solid #b24242;
    border-bottom: 1px solid #b24242;
    background-color: #fbe8e8;
    text-align: center;
    outline: none;
  }
 